<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Новая главная страница</title>
</head>
<body>
<img src="{% static 'images/Bulanova.png' %}" alt="Bulanova Image">
<a href="{% url 'about' %}">О нас</a>
<a href="{% url 'contacts' %}">Контакты</a>
<a href="{% url 'news' %}">Новости</a>
{% block mainmenu %}

<ul>
{% for m in menu %}
   <li>
       <h1>{{m.title}}</h1>
       <p>{% filter  truncatewords:50 %}
           {{m.content}}
       {% endfilter %}</p>

   </li>
{% endfor %}
</ul>
{% endblock mainmenu %}
{%block content %}
{% endblock %}
<p>{{time}}</p>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</body>
</html>